<div class="header">

    <div class="dl-title">后台管理系统
        <!--<img src="/chinapost/Public/assets/img/top.png">-->
    </div>

    <div class="dl-log">欢迎您，<span class="dl-log-user"> ${user}</span><a href="/logout" title="退出系统" class="dl-log-quit">[退出]</a>
    </div>
</div>
