<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>

</head>
<body>


<div class="container" style="padding: 15px">
    <form class="form-inline" method="post" action="/UIM/query">
        <div class="row">
            <div class="col-md-4">
                <select name="resource" class="form-control">
                    <option #if($!{resource} == "risk") SELECTED #end value="risk">天网</option>
                    <option #if($!{resource} == "risk2") SELECTED #end value="risk2">天网2.0</option>
                </select>
            </div>
            <div class="col-md-4 input-group">
                <span class="input-group-addon" id="basic-addon1">ERP</span>
                <input type="text" name="pin" value="$!{pin}" class="form-control" placeholder="Erp"
                       aria-describedby="basic-addon1">
            </div>
            <button type="submit" class="col-md-2 btn btn-primary">查询</button>
        </div>
        <div class="row" style="padding: 15px">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">权限码</span>
                <input type="text" name="codejudge" value="$!{codejudge}" class="form-control" placeholder="Code"
                       aria-describedby="basic-addon1">
            </div>
        </div>
    </form>
    <div class="row" style="padding: 15px">
        <textarea class="form-control" rows="20">$!{uimResponse}</textarea>
    </div>
</div>
</body>